.ugly-tooltip {
    position: relative;
    border-bottom: 1 px dotted olive;
    color: olive;
}

.tip {
    position: absolute;
    visibility: hidden;
    width: 150px;
    bottom: 120%;
    left: -50%;
    background-color: olive;
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}

.ugly-tooltip:hover .tip {
    visibility: visible;
    opacity: 1;
}